services:
  mssqlDb:
    image: mcr.microsoft.com/mssql/server:2025-latest
    hostname: mssql
    ports:
      - "1433:1433"
    environment:
      ACCEPT_EULA: Y
      MSSQL_SA_PASSWORD: ${MSSQL_SA_PASSWORD}

  jwt-service:
    build:
      context: ./Jwt-service
      dockerfile: dockerfile
    ports:
      - "${JWT_MICROSERVICE_PORT}:8080"
    depends_on:
      mssqlDb:
        condition: service_started
    environment:
      INTERNAL_TOKEN_AUDIENCE: ${INTERNAL_TOKEN_AUDEINCE}
      TOKEN_ISSUER: ${TOKEN_ISSUER}
      ACCESS_TOKEN_SECRET_KEY: ${ACCESS_TOKEN_SECRET_KEY}

  user-service:
    build:
      context: ./User-service
      dockerfile: dockerfile
    ports:
      - "${USER_MICROSERVICE_PORT}:8080"
    post_start:
      - command: dotnet ef database update
    depends_on:
      mssqlDb:
        condition: service_started
    environment:
      USER_MICROSERVICE: ${USER_MICROSERVICE}
      CART_MICROSERVICE: ${CART_MICROSERVICE}

  product-catalog-service:
    build:
      context: ./Product-Catalog-service
      dockerfile: dockerfile
    ports:
      - "${PRODUCT_MICROSERVICE_PORT}:8080"
    post_start:
      - command: dotnet ef database update
    depends_on:
      mssqlDb:
        condition: service_started
